.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #eae134;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: auto;
}

/* tr.odd td:nth-child(2),
tr.odd td:nth-child(4),
tr.odd td:last-of-type,
tr.even td:nth-child(2),
tr.even td:nth-child(4),
tr.even td:last-of-type {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
} */

table tr > td:nth-child(5) {
  min-width: 300px;
}
table tr > td:nth-child(6) {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/*============================
=           Filter          =
============================*/
.dataTables_wrapper .dataTables_filter > div label {
  white-space: nowrap;
}
.dataTables_wrapper .dataTables_filter {
  background-color: #f5f2ed;
  box-sizing: border-box;
  color: black !important;
  float: none !important;
  padding: 40px;
  margin: auto;
  max-width: 1080px;
}

.dataTables_wrapper .dataTables_filter label {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.dataTables_wrapper .dataTables_filter > :not(button) {
  display: flex;
  flex-basis: 48%;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.dataTables_wrapper .dataTables_filter > label:first-of-type {
  align-items: center;
  display: flex;
}

.dataTables_wrapper .dataTables_filter input {
  -webkit-appearance: none;
  border: none;
  font-size: 0.9rem;
  padding-left: 3px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  margin-left: 0;
  /* background-color: #f7f4f1; */
  border: 1px solid #b3b3b3;
}

.dataTables_wrapper .dataTables_filter input:focus {
  background: white;
}

.dataTables_wrapper .dataTables_filter option:not(:first-of-type) {
  color: black;
  font-style: normal;
}
button.reset {
  cursor: pointer;
  margin: 2rem 0 0 0 0;
}
/*============================
=           Table           =
============================*/

.dataTables_wrapper {
  max-width: 1340px;
  margin: 0 auto;
  -webkit-animation: fadeIn 1s ease-out;
  -moz-animation: fadeIn 1s ease-out;
  -o-animation: fadeIn 1s ease-out;
  animation: fadeIn 1s ease-out;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: none;
  text-align: center;
}

table.dataTable {
  border-spacing: 2px 6px;
}

table.dataTable.display tbody td {
  border-top: none;
}

table td {
  font-size: 1rem;
  letter-spacing: 1;
  text-align: left;
}

table.dataTable thead th {
  border-bottom: 2px solid #000;
  text-align: left;
  letter-spacing: 1.4px;
}

table.dataTable thead th:not(:first-child) {
  background-color: #eae134;
  color: black;
  padding: 8px 10px;
  vertical-align: top;
}

table.dataTable thead th:first-child {
  border-bottom: none;
  min-width: 40px !important;
}

table tr > td {
  padding: 8px 10px;
  vertical-align: top;
}

table tr.group td {
  border-bottom: 8px solid #cfc83a;
  color: black;
  font-size: 1.8em;
  line-height: 1.25;
  margin-bottom: 1em;
  text-transform: uppercase;
}

table tr.odd ul li::before,
table tr.even ul li::before {
  color: black;
}

table.dataTable.stripe tbody tr.even,
table.dataTable.display tbody tr.even {
  background-color: rgba(247, 244, 241, 0.5);
}
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #f5f2ed;
}
table.dataTable.stripe tbody tr.even:hover,
table.dataTable.display tbody tr.even:hover,
table.dataTable.stripe tbody tr.odd:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: white;
}

table.dataTable.display tr.shown.even > .sorting_1,
table.dataTable.display tr.shown.odd > .sorting_1,
table tr.shown td,
table tr.shown + tr > td {
  background-color: white;
}
table tr > td:nth-child(5) p,
table tr.shown + tr > td:last-of-type p {
  max-width: 700px;
}

table tr.shown + tr > td {
  border-bottom: 36px solid white;
}
table tr.shown td,
table tr.shown + tr + tr td {
  border-top: 2px solid black !important;
}

table tr.shown + tr > td > div {
  display: flex;
  flex-wrap: wrap;
}

table tr.shown + tr > td > div > div {
  break-inside: avoid-column;
  flex-basis: 100%;
  margin: 0 0 12px 18px;
  page-break-inside: avoid;
}

table tr.shown + tr > td > div > div:last-of-type {
  flex-basis: calc(100% - 36px);
}

table tr:not(.group).hover > td {
  transition-duration: 0.1s;
  transition-property: background-color, box-shadow, opacity, text-shadow,
    transform;
  transition-timing-function: linear;
}

table tr:not(.odd):not(.even) ul li::before {
  color: black;
}

table td.details-control {
  background: #fff url(../../images/custom-viz/wto-tracker/details_open.svg)
    no-repeat 75% 12px;
  cursor: pointer;
  width: 90px;
  background-size: 27.5px !important;
}

table td.details-control::before {
  content: none !important;
}

table tr.shown td.details-control {
  background: #fff url(../../images/custom-viz/wto-tracker/details_close.svg)
    no-repeat 75% 12px;
}

/*============================
=           Mobile           =
============================*/

@media screen and (min-width: 769px) {
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
  }

  .dataTables_wrapper .dataTables_filter > *:not(button) {
    flex-wrap: nowrap !important;
    flex-basis: 48%;
  }

  .dataTables_wrapper .dataTables_filter {
    display: flex;
    flex-wrap: wrap;
  }

  .dataTables_wrapper .dataTables_filter > label:first-of-type {
    flex-basis: 100%;
  }

  .dataTables_wrapper .dataTables_filter > *:not(button):nth-child(even) {
    margin-left: 24px;
  }
  button.reset {
    margin: 0 0 0 2rem;
  }
}

/*============================
=         Animation         =
============================*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
