.audio-player,
.mega-audio-player {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;

  @include breakpoint('medium') {
    flex-wrap: nowrap;
  }

  audio {
    width: 100%;
  }

  .audio-control {
    max-width: 10%;
    margin: 0 45px 0 0;
    @include breakpoint('medium') {
      order: -1;
      -webkit-box-ordinal-group: -1;
    }
  }

  .action {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .audio-control,
  .secondary-info,
  .transcript {
    display: flex;
    align-items: center;
  }

  .action .action-label,
  .duration,
  .label-transcript {
    @extend %labelsmall;
  }

  .action,
  .duration,
  .label-transcript {
    white-space: nowrap;
  }

  .duration {
    margin: 0 10px;
    @include breakpoint('medium') {
      margin: 0 10px 0 25px;
    }
  }

  .progress-bar {
    position: relative;
    width: 100%;
    height: 8px;
    margin-bottom: 8px;
    background-color: $color_audio-player-progress-bar;

    @include breakpoint('medium') {
      height: 4px;
      margin-bottom: 0;
    }
  }

  .progress-bar .progress {
    position: absolute;
    height: 8px;
    background-color: $black;

    @include breakpoint('medium') {
      height: 4px;
    }
  }

  .menu {
    position: relative;
    display: flex;
  }

  .transcript {
    justify-content: space-around;
    align-items: center;
    height: 34px;
    padding: 0.5rem;

    background-image: linear-gradient($color_audio-player-transcript-box 0%);
    background-size: 100% 100%;
    border-radius: calculate-rem(2px);

    @include breakpoint('medium') {
      position: absolute;
      right: -1px;
      z-index: 1;
      height: 37px;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }
  }

  .show-transcript {
    @include breakpoint('medium') {
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }

  .label-transcript {
    position: relative;
    z-index: 1;
  }

  .no-transcript {
    display: none;
    @include breakpoint('medium') {
      display: flex;
    }
  }

  .icon-menu {
    display: none;
    @include breakpoint('medium') {
      display: block;
    }
  }

  i,
  .progress-bar,
  .action,
  .transcript {
    cursor: pointer;
  }

  i {
    @include fontSize(20px);
  }

  .icon-transcript:hover i {
    color: $black;
  }

  [class^='icon-']::before,
  [class*=' icon-']::before {
    margin: 0;
  }

  .audio-control .icon-play::before,
  .audio-control .icon-pause::before {
    text-align: left;
  }

  .secondary-info .icon-menu::before {
    padding-left: 1rem;
    text-align: right;
    @include breakpoint('medium') {
      padding-left: 0;
    }
  }
}
