.audio-player {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;

  @include breakpoint('medium') {
    flex-wrap: nowrap;
  }

  .audio-control {
    max-width: 10%;
    margin: 0 40px 0 0;
    @include breakpoint('medium') {
      order: -1;
      -webkit-box-ordinal-group: -1;
    }
  }

  .action {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  .audio-control,
  .secondary-info,
  .transcript {
    display: flex;
    align-items: center;
  }

  .action,
  .duration,
  .label-transcript {
    @extend %labelsmall;
    white-space: nowrap;
  }

  .action {
    margin: 0 40px 0 10px;
  }

  .duration {
    margin: 0 10px 0 25px;
  }

  .progress-bar {
    position: relative;
    background-color: $color_audio-player-progress-bar;
    width: 100%;
    height: 8px;
    margin-bottom: 8px;

    @include breakpoint('medium') {
      height: 4px;
      margin-bottom: 0;
    }
  }

  .progress-bar .progress {
    height: 8px;
    position: absolute;
    background-color: $black;

    @include breakpoint('medium') {
      height: 4px;
    }
  }

  .menu {
    position: relative;
    display: flex;
  }

  .transcript {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    position: absolute;
    right: -1px;
    z-index: 1;
    height: 37px;
    border-radius: calculate-rem(2px);
    background-color: $color_audio-player-transcript-box;
    @include box-shadow(
      0,
      2px,
      4px,
      0,
      $color_audio-player-transcript-box-shadow,
      false
    );
  }

  .transcript,
  .transcript * {
    visibility: hidden;
  }
  .menu:hover .transcript,
  .menu:hover .transcript * {
    visibility: visible;
  }

  i,
  .progress-bar,
  .action,
  .transcript {
    cursor: pointer;
  }

  i {
    @include fontSize(20px);
  }
  i:hover,
  .action:hover,
  .transcript:hover * {
    color: $yellow;
    transition: 0.2s ease-in-out;
  }
  .icon-transcript:hover i {
    color: $black;
  }

  [class^='icon-']:before,
  [class*=' icon-']:before {
    width: unset;
    margin: 0;
  }
}
