.btn {
  padding: 10px 30px;
  color: $white;
  text-align: center;
  background-color: $black;
  border: none;
  transition: all 0.3s ease-in-out;
  @extend %btn;

  &:hover {
    background-color: $dark-gray;
  }

  &.btn-all-caps {
    text-transform: uppercase;
  }

  &.btn-gray {
    color: $black;
    background-color: $off-white;

    &:hover {
      background-color: $off-white-dark;
    }
  }
}
