/*==============================================
=            Content Type Filtering            =
==============================================*/

.content-types-filter {
  ul {
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;
  }
}

