/*=====================================
=            Form Elements            =
=====================================*/

%input {
  background-color: $off-white;
  border: 1px solid $disabled-gray;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
}

.form-default {
  label {
    display: block;
    @extend %label;
    text-transform: uppercase;
  }
}


.form-input {
  @extend %input;
}

.form-textarea {
  @extend %input;
  height: 75%;
}

.checkbox-container {
  position: relative;

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;

    &:checked + label::before {
      background-color: $yellow;
      border-color: $black;
    }

    &:checked + label::after {
      content: '\e878';
      font-family: 'tradeguys';
      font-weight: bold;
      color: $black;
      position: absolute;
      top: 1px;
      left: -1px;
    }
  }

  label {
    display: inline-block;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: -0.1em;
      width: 1rem;
      height: 1rem;
      border: 1px solid $disabled-gray;
      margin-right: 0.5rem;
      background-color: $off-white;
      transition: 0.2s;
    }
  }
}