/*====================================
=            Interactives            =
====================================*/

iframe {
  width: 1px;
  min-width: 100%;
}

.fullWidthFeatureContent {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  text-align: center;

  @include breakpoint("medium") {
    margin-left: calc(-50vw - 4rem)
  }

  .fullWidthInner {
    margin: 0 auto;
  }
}

