/*====================================
=            Interactives            =
====================================*/

iframe {
  width: 1px;
  min-width: 100%;
}

.fullWidthFeatureContent {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-right: -50vw;
  margin-left: calc(-50vw - (var(--header-footer-border-width) / 2));
  text-align: center;

  .fullWidthInner {
    margin: 0 auto;
  }
}
