/*=============================
=            Media            =
=============================*/

img {
  width: 100%;
  height: auto;
}

.video-wrapper {
  position: relative;
  margin-bottom: 2rem;

  &::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (16 / 9));
  }

  * + & {
    margin-top: 2rem;
  }

  > img {
    height: auto;
  }

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & + .post-feature-video-subscribe {
    @include fontSize(16px);
    margin-bottom: 2rem;
  }
}

.post-feature-video {
  margin-bottom: 0;
}

.post-feature-image,
.post-image {
  max-width: calc(
    #{$size_container-max-width} - (2 * #{$size_wrapper-padding})
  );
  margin: 1rem auto;

  img {
    display: block;
  }

  figcaption,
  .image-caption {
    padding: 0.75rem;
    @include fontSize(16px);
    line-height: 1.3;
  }

  .image-source {
    display: block;
    color: $gray;
  }
}

.post-feature-image {
  background-color: $off-white;
}

.post-feature-image {
  margin: 0 0 1rem;
  @include breakpoint('small') {
    float: right;
    max-width: 40%;
    margin: 0 0 1rem 2rem;
  }
}
