/*==================================
=            Pagination            =
==================================*/

.archive-pagination {
  --pagination-prev-next-spacing: 2rem;
  display: flex;
  margin-bottom: 1rem;

  @include breakpoint('medium') {
    --pagination-prev-next-spacing: 3rem;
    display: block;
    margin-top: 2rem;
  }

  button {
    background-color: transparent;
    border: 0;
  }

  .pagination-total-pages {
    @extend %btn;
    text-transform: uppercase;

    @include breakpoint('medium') {
      display: none;
    }

    .pagination-total-items {
      display: none;
    }
  }

  .page-num {
    display: none;

    @include breakpoint('medium') {
      display: inline-block;
      margin: 0 1rem;
      line-height: 1;
      @include fontSize(18px);
    }
    
    &:not(.is-active) {
      @include wipe-link-hover-background($yellow, fit-content);
    }

    &.is-active {
      font-weight: bold;
    }
  }

  .pagination-prev,
  .pagination-next {
    position: relative;
    flex: 1 0 auto;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    @extend %btn;

    &:not(:disabled):hover {
      @include breakpoint('medium') {
        background-color: $yellow;
      }
    }

    &:disabled {
      color: $disabled-gray;

      &::after {
        background-color: $disabled-gray;
      }
    }
  }

  .pagination-prev {
    @include pagination-arrows(left);

    @include breakpoint('medium') {
      &::before {
        content: 'Previous';
      }
    }
  }

  .pagination-next {
    @include pagination-arrows(right);

    @include breakpoint('medium') {
      &::before {
        content: 'Next';
      }
    }
  }
}

.archive-pagination-top {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  @extend %btn;

  @include breakpoint('medium') {
    text-align: left;
  }

  .pagination-total-items {
    font-weight: normal;
  }
}
