/*=================================
=            Post Meta            =
=================================*/

.post-meta {
  @extend %post-meta;
  text-transform: uppercase;
}

.post-meta-label {
  @extend %post-meta-label;
  color: $gray;
  text-transform: uppercase;
}

.dt-published {
  .podcast .post-info & {
    @include breakpoint('medium') {
      font-weight: 600;
    }
  }
}

.episode-num {
  .post-info & {

    @include breakpoint('medium') {
      display: block;
    }

    &::before {
      content: '\2014';
      margin-right: 0.25rem;

      @include breakpoint('medium') {
        content: '';
      }
    }
  }
}

.post-authors {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    &::after {
      content: ', ';
    }

    &:last-of-type::after {
      content: '';
    }
  }

  a {
    font-weight: 600;
    @extend %dashed-underline;
  }
}
