/*=================================
=            Post Meta            =
=================================*/

.post-meta {
	@extend %post-meta;
  text-transform: uppercase;
}

.dt-published {
  .podcast .post-info & {
    @include breakpoint("medium") {
      font-weight: 600;
    }
  }
}

.episode-num {
  .post-info & {

    @include breakpoint("medium") {
      display: block;
    }

    &::before {
      content: '\2014';
      margin-right: 0.25rem;

      @include breakpoint("medium") {
        content: '';
      }
    }
  }
}

.post-authors {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &::after {
      content: ', ';
    }

    &:last-of-type::after {
      content: '';
    }
  }

  a {
    font-weight: 600;
    @include link-underline-background;
  }
}
