.share {
  display: flex;
  margin: 0.2em 0;

  .shareText {
    margin-right: 0.25rem;
    @extend %labelsmall;
    color: $gray;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inherit;
      margin: 0;
      padding-right: 0.25rem;
      line-height: 1;
      text-align: center;

      &:hover i {
        background-color: $yellow;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
      }

      i {
        @include fontSize(20px);
        padding: 0.15rem;
      }
    }
  }

  .single-post .page-footer & {
    margin-bottom: 2rem;
    
    @include breakpoint('medium') {
      display: none;
    }
  }
}
