<div class="audio-player">
	<div class="progress-bar">
		<div class="progress"></div>
	</div>
	<div class="audio-control" data-url="{{include.soundcloud_url}}">
		<i class="icon-play"></i>
		<button class="action">
			LISTEN
  	</button>
	</div>
	<div class="secondary-info">
		<span class="duration"></span>
		<div class="menu">
			<i class="icon-menu">
			</i>
			<div class="transcript">
				{% if include.transcript_url.size > 0 %}
				<a class="label-transcript" href={{include.transcript_url}}>
					<i class="icon-transcript"></i>
					<span class="label-transcript">
						transcript
					</span>
				</a>
				{% else %}
				<span class="label-transcript">
					no transcript
				</span>
				{% endif %}
			</div>
		</div>
	</div>
</div>
