<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

{% if page.collection == 'posts' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.1/iframeResizer.min.js" type="text/javascript"></script>
<script>
  iFrameResize( {log: false}, 'iframe.js-iframeResizeEnabled');
</script>
{% endif %}

{% include footer-custom-viz.html %}
