<footer class="site-footer wrapper" role="footer">
  <section class="site-footer-contact">
    <img class="csis-logo" src="{{ 'assets/images/logos/csis_logo_white.svg' | relative_url }}" alt="{{ Center for Strategic and International Studies }}" title="{{ Center for Strategic and International Studies }}" />
    <address>{{ site.data.language.address }}</address>
    <a href="mailto:{{ site.data.language.email }}?Subject=Trade Guys">{{ site.data.language.email }}</a>
  </section>
  <section class="site-footer-desc">
    <p><span class="p-label">{{ site.data.language.footer_about_heading }}</span> {{ site.data.language.footer_desc | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  </section>
  <section class="site-footer-subscribe">
    {% include podcast-subscribe.html %}
    {% include podcast-apple-logo.html color='white' %}
  </section>
  <section class="site-footer-copyright">
    &copy;{{ site.time | date: '%Y' }} by the Center for Strategic and International Studies. All rights reserved. | <a href="https://www.csis.org/privacy-policy" target="_blank">Privacy Policy</a>
  </section>
</footer>
<div id="site-overlay"></div>

{%- include footer-scripts.html -%}
