<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div id="header-logo-container" role="banner">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <div class="flip-container">
          <div class="flipper">
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <!-- <div class="logo-words">{{ site.title | escape }}</div> -->
      </a>
    </div>
    {% include header-navigation.html %}
  </div>
</header>
