<nav class="site-nav" role="navigation">
  <input type="checkbox" id="nav-trigger" class="nav-trigger" autocomplete="off" />
  <label for="nav-trigger" id="nav-trigger-label" aria-label="Toggle Menu" data-label-open="{{ site.data.language.navigation_menu | escape }}" data-label-close="{{ site.data.language.navigation_menu_close | escape }}">
    {{ site.data.language.navigation_menu | escape }}
  </label>
  <div class="trigger">
    <ul class="main-menu">
    {% for item in site.data.menus.header %}
      <li class="menu-item {{ item.class }}">
        <a href="{{ item.url | relative_url }}" title="{{ item.desc }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    </ul>
    <div class="podcast-subscribe">
      {% include podcast-subscribe.html %}
    </div>
  </div>
</nav>