<header class="page-header">
	<div class="page-header-primary">
		{% if page.breadcrumbs %}
			{% include post-breadcrumbs.html %}
		{% else %}

		{% assign title = '' %}
		{% if page.collection == 'series' %}
			{% capture title %}<span class="page-title-subheading">Series:</span> {% endcapture %}
		{% elsif page.collection == 'keywords' %}
			{% capture title %}<span class="page-title-subheading">Tag:</span> {% endcapture %}
		{% endif %}
			<h1 class="page-title">{{ title }}{{ page.title | escape }}</h1>
		{% endif %}
	</div>
	<div class="arrow-cutout">
		{% include share-icons.html %}
	</div>
	<div class="page-header-secondary">
		{% if page.breadcrumbs %}
			<h1 class="page-title">{{ page.title | escape }}</h1>
		{% else %}
			<p>{{ content | append: " " | append: include.content  | remove: "<p>" | remove: "</p>" }}</p>
			<div class="archive-pagination-top pagination-total-pages"></div>
		{% endif %}
	</div>
</header>
