<header class="page-header">
	<div class="page-header-primary">
		{% if page.breadcrumbs %}
			{% include post-breadcrumbs.html %}
		{% else %}
			<h1 class="page-title">{{ page.title | escape }}</h1>
		{% endif %}
	</div>
	<div class="arrow-cutout">
		{% include share-icons.html %}
	</div>
	<div class="page-header-secondary">
		{% if page.breadcrumbs %}
			<h1 class="page-title">{{ page.title | escape }}</h1>
		{% else %}
			<p>{{ content | append: " " | append: include.content  | remove: "<p>" | remove: "</p>" }}</p>
		{% endif %}
	</div>
</header>
