<article class="post-list">
  {% if post.featured_img %}<a href="{{ post.url | relative_url }}" class="post-list-img"><img src="{{ post.featured_img | relative_url }}" alt="{{ post.title | escape }}" title="{{ post.title | escape }}" /></a>{% endif %}
  <header class="post-list-header">
    <h2 class="post-list-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    <span class="post-meta">{{ post.date | date: site.date_format }}
      {% if post.collection == 'podcast' %}
        &mdash; {{ post.episode_num | prepend: 'Episode #' }}
      {% endif %}
    </span>
  </header>
  <main class="post-list-content">
    {{ post.excerpt }}
  </main>
</article>
