/*==============================
=            Colors            =
==============================*/
$black: #000;
$white: #fff;
$off-white: #F7F4F1;
$yellow: #eae134;
$dark-yellow: #cfc83a;
$gray: #4a4a4a;
$dark-gray: #353535;

/*==================================
=            Typography            =
==================================*/
$font_inconsolata: 'Inconsolata', monospace;
$font_source: 'Source Sans Pro', sans-serif;
$fontello_url: '../fonts/';

/*=================================
=            Structure            =
=================================*/

$size_container-max-width: 1340px;


/*==============================
=            Assets            =
==============================*/
