/*==============================
=            Colors            =
==============================*/
$black: #000;
$white: #fff;
$off-white: #f7f4f1;
$yellow: #eae134;
$dark-yellow: #cfc83a;
$gray: #4a4a4a;
$dark-gray: #353535;
$disabled-gray: #b3b3b3;

$color_footer-contact-text: #e0e1e2;
$color_footer-copyright-text: #090909;
$color_post-list-border: $disabled-gray;

/*==================================
=            Typography            =
==================================*/
$font_inconsolata: 'Inconsolata', monospace;
$font_source: 'Source Sans Pro', sans-serif;
$fontello_url: '../fonts/';

/*=================================
=            Structure            =
=================================*/

$size_container-max-width: 1440px;
$size_post-list-desc-max-width: 700px;
$size_header-height-desktop: 72px;
$size_page-header-footer-border-width-mobile: 1rem;
$size_page-header-footer-border-width-desktop: 4rem;
$size_sidebar-width: 40%;

/*==============================
=            Assets            =
==============================*/
