/*==============================
=            Header            =
==============================*/
.site-header {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: var(--header-height);
  padding: 1rem;
  background-color: $white;

  @include breakpoint('medium') {
    padding: 1rem 0;
    overflow-y: hidden;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }
}
