/*===================================
=            Page Footer            =
===================================*/
.page-footer {
  margin-top: 2rem;
  padding-right: var(--header-footer-border-width);
  padding-bottom: 1rem;
  padding-left: var(--header-footer-border-width);

  @include breakpoint('medium') {
    margin-top: 3rem;
    padding-right: 0;
    padding-left: 1rem;
    border-left: var(--header-footer-border-width) solid $yellow;
  }
}
