/*===============================
=            Sidebar            =
===============================*/

.page-sidebar {
  grid-row: 4;
  background-color: $off-white;
  padding: var(--header-footer-border-width) var(--header-footer-border-width)
    var(--header-footer-border-width) var(--header-footer-border-width);

  @include breakpoint('medium') {
    grid-row: 2;
    grid-column: 2 / 3;
    background-color: $white;
    padding: 0;
  }

  &.podcast {
    display: grid;
    grid-template-rows: min-content auto;
    grid-gap: 1rem;

    @include breakpoint('medium') {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    p {
      @include fontSize(16px);
      line-height: 1.69;

      a {
        font-weight: bold;
      }
    }

    .podcast-desc {
      font-weight: 600;
      margin-bottom: 0;

      @include breakpoint('medium') {
        grid-column: span 2;
      }
    }

    .podcast-logo {
      width: 100%;
      height: auto;
      margin: 0 auto;

      @include breakpoint('medium') {
        grid-column: 1;
      }
    }

    .podcast-subscribe {
      @include breakpoint('medium') {
        grid-column: 2;
      }
    }
  }
}
