/*================================
=            Archives            =
================================*/

.archive {
  display: grid;
  grid-template-rows: repeat(4, auto);

  @include breakpoint('medium') {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto calc(
        #{$size_sidebar-width} - var(--header-footer-border-width)
      );
    grid-gap: var(--header-footer-border-width);
  }

  .page-header {
    grid-row: 1;

    @include breakpoint('medium') {
      grid-column: span 2;
    }
  }

  .post-content {
    grid-row: 2;

    @include breakpoint('medium') {
      grid-column: span 1;
    }
  }

  .page-footer {
    grid-row: 3;

    @include breakpoint('medium') {
      grid-column: span 2;
    }
  }
}
