/*================================
=            Archives            =
================================*/

.archive {
  display: grid;
  grid-template-rows: repeat(4, auto);

  @include breakpoint('medium') {
    grid-column-gap: var(--header-footer-border-width);
    grid-template-columns: auto calc(#{$size_sidebar-width} - var(--header-footer-border-width));
    grid-template-rows: repeat(3, auto);
  }

  .page-header {
    grid-row: 1;

    @include breakpoint('medium') {
      grid-column: span 2;
    }
  }

  .post-content {
    grid-row: 2;
    margin-right: var(--header-footer-border-width);
    margin-left: var(--header-footer-border-width);
    padding-top: 1rem;

    @include breakpoint('medium') {
      grid-column: span 1;
      margin-right: 0;
      margin-left: 0;
      border-top: $size_post-content-border-top solid $black;
    }
  }

  .page-footer {
    grid-row: 3;

    @include breakpoint('medium') {
      grid-column: span 2;
    }

    .share {
      display: none;
    }
  }

  &.tag-list .post-content {
    margin-bottom: 3rem;
  }
}
