html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $white;
    /* Fallback for when there is no custom background color defined. */
    --breakpoint: 'xsmall';
    --header-height: 100px;
    --header-footer-border-width: #{$size_page-header-footer-border-width-mobile};

    @include breakpoint('small') {
        --breakpoint: 'small';
    }

    @include breakpoint('medium') {
        --breakpoint: 'medium';
        --header-height: #{$size_header-height-desktop};
        --header-footer-border-width: #{$size_page-header-footer-border-width-desktop};
    }

    @include breakpoint('large') {
        --breakpoint: 'large';
    }
}

.wrapper {
    @include breakpoint('medium') {
        max-width: $size_container-max-width;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.page-content {
    margin-top: $size_header-height-desktop;
}
