/* Variables */
$size_boeing-container-max-width: 700px;

/*==============================
=             Base             =
==============================*/
.fullWidthFeatureContent {
  @include breakpoint('medium') {
    margin-left: calc(-50vw - 4rem);
  }
}

#boeingScroll {
  .svg-container {
    position: sticky;
    top: #{$size_header-height-mobile};
    z-index: -1;
    width: 100%;
    height: 75vh;
    margin: 0;
    padding: 1rem;

    @include breakpoint('medium') {
      top: #{$size_header-height-desktop};
      padding-right: 2rem;
      padding-left: 2rem;
    }

    svg {
      width: 100%;
      max-height: 100%;
    }

    .boeing-counter {
      display: flex;
      justify-content: center;
      padding: 0;

      li {
        margin: 0 1.5rem;
        font-family: $font_inconsolata;
        text-transform: uppercase;
        list-style: none;
        @include fontSize(14px);

        @include breakpoint('medium') {
          @include fontSize(16px);
        }

        span {
          font-weight: bold;
        }
      }

      @include breakpoint('large') {
        justify-content: flex-end;
        max-width: $size_boeing-container-max-width;
        margin: 0 auto 1.5rem;
      }
    }
  }

  .plane {
    height: 100%;
  }

  .text-container {
    position: relative;
    z-index: 1;
    max-width: $size_boeing-container-max-width;
    margin: 0 auto;
    padding: 0 1rem;

    .interactive__source {
      display: none;

      @include breakpoint('medium') {
        position: sticky;
        top: 90%;
        display: block;
        max-width: 200px;
        margin-left: -200px;
        color: $gray;
        font-family: $font_source;
        @include fontSize(14px);
      }

      &-mobile {
        display: block;
        margin-top: 0.75rem;
        @include fontSize(14px);

        a:focus {
          color: $dark-gray;
          background-color: $yellow;
          cursor: pointer;
        }

        @include breakpoint('medium') {
          display: none;
        }
      }
    }

    @include breakpoint('medium') {
      padding-left: 4rem;
    }

    .scroll-text {
      padding: 1.5rem;
      color: $white;
      text-align: left;
      background-color: rgba(46, 46, 46, 0.95);

      &:not(:last-of-type) {
        margin: 0 0 50rem;

        @include breakpoint('medium') {
          margin-right: -4rem;
        }
      }

      &:last-of-type {
        margin-bottom: 5rem;

        @include breakpoint('medium') {
          margin-right: -4rem;
        }
      }
    }

    .part {
      margin: 0.1rem;
      border-bottom: 1px solid $yellow;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $dark-gray;
        background-color: $yellow;
        cursor: pointer;
      }
    }
  }
}

.wrapper {
  overflow: initial;
}
