/*==============================
=        Scrollytelling        =
==============================*/
#boeingScroll {

  .js-hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.7s linear 0.7s, opacity 0.7s linear;
  }
}

.boeing-js__opacity-not-viewed {
  transition: opacity 0.7s linear;
  opacity: 0.2;
}

.boeing-js__opacity-focused {
  transition: opacity 0.7s linear;
  opacity: 1;
}

.boeing-js__opacity-viewed {
  transition: opacity 0.7s linear;
  opacity: 0.75;
}