/*==============================
=        Scrollytelling        =
==============================*/

.label-group {
  transition: opacity 1s linear;
}

.hidden {
  opacity: 0;
  transition: opacity 1s linear;
}

.display-none {
  display: none;
  transition: opacity 1s linear;
}
