/*==============================
=        Scrollytelling        =
==============================*/
#boeingScroll {

  .svgPart {
    opacity: 0.2;
    transition: opacity 0.7 linear;

    &.boeing-js__opacity-focused {
      opacity: 1;
    }

    &.boeing-js__opacity-viewed {
      opacity: 0.75;
    }
  }

  .svgLabel {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s linear, opacity 0.7s linear;

    &.boeing-js__opacity-focused {
      visibility: visible;
      opacity: 1;
    }
  }
}