---
layout: default
---
<article class="archive {{ page.collection | slugify }}">
	{% include page-header.html %}
	<div class="post-content">
    {% if page.collection_type == 'podcast' %}
      {% assign posts = site.podcast | sort: 'date' | reverse %}
    {% elsif page.collection == 'series' %}
      {% assign posts = site.posts | where: "series", page.path | sort: 'date' | reverse %}
    {% elsif page.collection == 'keywords' %}
      {% include archive-tags-logic.html %}
    {% elsif page.collection == 'authors' %}
      {% include archive-authors-logic.html %}
    {% else %}
      {% assign posts = site.posts | sort: 'date' | reverse %}
    {% endif %}
    {% for post in posts %}
			{% if post.featured_in_archive == true %}
				{% include post-list.html %}
			{% endif %}
		{% endfor %}
		{% for post in posts %}
			{% unless post.featured_in_archive == true %}
				{% include post-list.html %}
			{% endunless %}
		{% endfor %}
	</div>
  {% include sidebar.html %}
	{% include page-footer.html %}
</article>
