---
layout: default
---

<div class="home">
  <section class="site-title-main">
    <h1>The<br />Trade<br />Guys</h1>
    <div class="site-desc">
      <p>Trade experts Scott Miller and Bill Reinsch break down the buzz around trade, how it affects policy, and how it impacts your day-to-day.</p>
      {% include podcast-apple-logo.html color="black" %}
      {% include podcast-soundcloud-logo.html color="black" %}
    </div>
  </section>
  <section class="podcast-info">
    <div class="podcast-subscribe">{% include podcast-subscribe.html %}</div>
    <p>The Trade Guys is hosted every week by H. Andrew Schwartz at the Center for Strategic and International Studies (CSIS), a nonpartisan think tank in Washington, D.C.</p>
    <div class="trade-guys">
      Scott<br />
      Bill<br />
      Andrew<br />
    </div>
  </section>
  <section class="podcast-list">
    {% assign posts = site.podcast | sort: 'date' | reverse %}
    {% for post in posts limit:3 %}{% include post-list.html %}{% endfor %}
    <a href="/podcast" class="btn btn-all-caps see-more">All Episodes</a>
  </section>
  <img class="home-graphic" src="{{ 'assets/images/home/Group-2.jpg' | relative_url }}" alt="{{ site.title | escape }}" alt="{{ site.title | escape }}" />
  {% include home-featured-stat.html %}
  {% include home-featured-post-list.html %}
  {% include home-contact.html %}
</div>
