---
layout: default
---
<article class="single-post {{ page.collection }}" itemscope itemtype="http://schema.org/BlogPosting">
  {% include page-header.html %}
  <main class="post-content" itemprop="articleBody">
    <aside class="post-info">
      {% include {{ page.sidebar }} %}
      {% include post-tags.html %}
    </aside>
    {% if page.collection == 'podcast' %}
        {% include audio-player.html soundcloud_url=page.soundcloud_url %}
      {% endif %}
    <div class="post-body">
      {{ content }}
      {% if page.notes %}
        {% include post-notes.html %}
      {% endif %}
    </div>
  </main>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  {% include page-footer.html %}
</article>
