---
layout: default
---
<article class="single-post {{ page.collection }}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
  {% include page-header.html %}
  <main class="post-content" itemprop="articleBody">
    <aside class="post-info">
      {% include {{ page.sidebar }} %}
      {% include post-tags.html %}
    </aside>
    {% if page.collection == 'podcast' %}
      {% include audio-player.html soundcloud_url=page.soundcloud_url transcript_url=page.transcript_url %}
    {% endif %}
    <div class="post-body">
      {% if page.image != site.logo and page.image != '' and page.show_image_on_single_post %}
        {% include post-feature-image.html %}
      {% endif %}
      {% if page.youtube_url %}
        {% include post-video-embed.html %}
      {% endif %}
      {{ content }}
      {% if page.statistic_text.size > 0 %}
        {% include post-featured-stat.html %}
      {% endif %}
      <div class="clearfix"></div>
      {% if page.external_url %}
        {% include post-external-link.html %}
      {% endif %}
      {% if page.notes.size > 0 %}
        {% include post-notes.html %}
      {% endif %}
    </div>
  </main>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  {% include page-footer.html %}
</article>
